{% extends 'base.html' %}

{% block title %} {{task.title}} {% endblock %}

{% block content %}

<div class="row">
    <div class="col teste">
        <h1>1</h1>
    </div>
    <div class="col teste">
        <h1>2</h1>
    </div>
    <div class="col teste">
        <h1>3</h1>
    </div>
    <div class="col teste">
        <h1>4</h1>
    </div>
    <div class="col teste">
        <h1>5</h1>
    </div>
    <div class="col teste">
        <h1>6</h1>
    </div>
    <div class="col teste">
        <h1>7</h1>
    </div>
    <div class="col teste">
        <h1>8</h1>
    </div>
    <div class="col teste">
        <h1>9</h1>
    </div>
    <div class="col teste">
        <h1>10</h1>
    </div>
    <div class="col teste">
        <h1>11</h1>
    </div>
    <div class="col teste">
        <h1>12</h1>
    </div>
</div>
<div class="row">
    <div class="col-5 parcial">
        <p>Lorem ipsum.</p>
    </div>
    <div class="col-2 offset-3 parcial">
        <p>Lorem ipsum.</p>
    </div>
</div>
<div class="row">
    <div class="col-md telagrande">
        <p>textin</p>
    </div>
    <div class="col-md-9 telagrande">
        <p>textin</p>
    </div>
</div>

{% endblock %}


